.homeImage{
    height: 300px;
    width: auto;
}
.paratext{
    font-weight: 800;
}
.homeDiv{
    display: flex;
}

@media only screen and (max-width: 767px){
    .homeDiv{
        display: block !important;
    }
    .homeImage{
        height: 215px;
    width: auto;
    }
}